@use 'sass:math';

@font-face {
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-family: 'Poppins';
	src: url('./assets/Poppins-Medium.woff2');
	src: url('./assets/Poppins-Medium.woff2') format('woff2'),
		url('./assets/Poppins-Medium.woff') format('woff'),
		url('./assets/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-family: 'Noto Sans';
	src: url('./assets/NotoSans-Bold.woff2');
	src: url('./assets/NotoSans-Bold.woff2') format('woff2'),
		url('./assets/NotoSans-Bold.woff') format('woff'),
		url('./assets/NotoSans-Bold.ttf') format('truetype');
}

@function rem($px) {
	@return math.div($px, 16) + rem;
}

@function em($px1: 0, $px2: 16) {
	@return math.div($px1, $px2) + em;
}

$bgColor: #fafafb;
$grayColor: #4f4f4f;
$blueColor: #2f80ed;
$lightGrayColor: #828282;

* {
	margin: 0;
}

body {
	color: #4f4f4f;
	min-height: 100vh;
	font-family: 'Poppins';
	background-color: $bgColor;
}

.wrapper {
	height: 100%;
	min-height: 100vh;
}

.uploader {
	height: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	&__wrapper {
		margin: 0 auto;
		width: rem(400);
		padding: rem(35);
		border-radius: 12px;
		background: #ffffff;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	}
	&__upload {
		text-align: center;
	}
	&__title {
		font-weight: 500;
		font-size: rem(20);
		letter-spacing: -0.035em;
		line-height: math.div(27, 20);
		&:not(:last-child) {
			margin-bottom: em(15, 20);
		}
	}
	&__info {
		font-size: rem(12);
		color: $lightGrayColor;
		letter-spacing: -0.035em;
		line-height: math.div(15, 12);
	}
	&__drag-area {
	}
	&__or {
		font-size: rem(14);
		letter-spacing: -0.035em;
		line-height: math.div(18, 14);
	}
	&__form {
		margin-top: rem(20);
		input {
			display: none;
		}
	}
	&__label {
		color: #fff;
		cursor: pointer;
		font-weight: 700;
		border-radius: 8px;
		display: inline-block;
		background: $blueColor;
		padding: rem(8) rem(16);
		font-family: 'Noto Sans';
	}
}

.drag-area {
	margin-top: em(30);
	text-align: center;
	border-radius: 12px;
	background: #f6f8fb;
	margin-bottom: em(20);
	box-sizing: border-box;
	padding: rem(35) 0 rem(40) 0;
	border: rem(2) dashed #97bef4;
	&__img {
		&:not(:last-child) {
			margin-bottom: em(35, 16);
		}
	}
	&__text {
		font-size: rem(14);
		letter-spacing: -0.035em;
		line-height: math.div(18, 14);
	}
}

.loader {
	&__text {
		font-size: rem(18);
		letter-spacing: -0.035em;
		line-height: math.div(27, 18);
		&:not(:last-child) {
			margin-bottom: em(20);
		}
	}
	&__progress {
		width: 100%;
		height: rem(8);
		overflow: hidden;
		position: relative;
		border-radius: 8px;
		background: #f2f2f2;
		div {
			top: 0;
			height: 100%;
			border-radius: 8px;
			position: absolute;
			background: $blueColor;
			animation: loader 2s ease 0s infinite forwards;
		}
	}
}

.result-uploader {
	text-align: center;
	&__icon {
		&:not(:last-child) {
			margin-bottom: em(10);
		}
	}
	&__text {
		font-size: rem(20);
		letter-spacing: -0.035em;
		line-height: math.div(27, 20);
		&:not(:last-child) {
			margin-bottom: em(25);
		}
	}
	&__image {
		overflow: auto;
		border-radius: rem(10);
		background-color: $bgColor;
		img {
			max-height: rem(230);
			object-position: center;
		}
		&:not(:last-child) {
			margin-bottom: em(25);
		}
	}
	&__copy {
		display: flex;
		border-radius: rem(8);
		align-items: center;
		background: #f6f8fb;
		border: 1px solid #e0e0e0;
	}
	&__copy-text {
		flex: 1 1 auto;
		overflow: hidden;
		font-size: rem(13);
		white-space: nowrap;
		word-wrap: break-word;
		text-overflow: ellipsis;
		letter-spacing: -0.035em;
		line-height: math.div(12, 14);
		padding: rem(11) rem(15) rem(11) rem(8);
	}
	&__copy-button {
		color: #fff;
		cursor: pointer;
		flex: 0 0 rem(75);
		font-size: rem(12);
		border-radius: rem(8);
		padding: rem(10) rem(15);
		background-color: $blueColor;
	}
}

.c {
	color: #a9a9a9;
	text-align: center;
	padding: rem(20) 0;
	span {
		font-weight: 700;
		font-size: rem(18);
	}
}

@keyframes loader {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}
